<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>설문 목록</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>

<body>
    <h1>설문 목록</h1>

    {# 조건문을 통해 백엔드에서 전달된 데이터가 있는지 확인한다. #}
    {% if latest_question_list %}
    <ul>
        {# 반복문을 통해 전달된 데이터를 표시한다. #}
        {% for question in latest_question_list %}

        {# URL을 직접 하드코딩하는 경우. #}
        {# <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> #}

        {# url 템플릿 태그를 사용하는 경우. #}
        {# <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li> #}

        {# url 템플릿 태그와 앱의 이름공간을 사용하는 경우. #}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>

        {% endfor %}
    </ul>
    {% else %}
    <p>등록된 설문이 존재하지 않습니다.</p>
    {% endif %}
</body>

</html>