<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ board.title }}</title>
    <style>
        .board-number {
            width: 50px;
        }
        .board-title {
            width: 250px;
        }
        .user-nm {
            width: 100px;
            text-align: center;
        }
        .date {
            width: 200px;
            text-align: center;
        }
        .board-content {
            width: 600px;
            height: 300px;

            vertical-align: top;
        }
        .reply-content {
            width: 300px;
        }
    </style>
</head>

<body>
    <table border="1">
        <tr>
            <th class="board-number">{{ board.number }}</th>
            <th class="board-title">{{ board.title }}</th>
            <th class="user-nm">{{ board.user.nm }}</th>
            <th class="date">{{ board.date }}</th>
        </tr>
        <tr>
            <td colspan="4" class="board-content"><pre>{{ board.content|default_if_none:"" }}</pre></td>
        </tr>
    </table>

    <hr>

    {% if board.reply_set.all %}
    <table border="1">
        {% for reply in board.reply_set.all %}
        <tr>
            <td class="reply-content">{{ reply.content }}</td>
            <td class="user-nm">{{ reply.user.nm }}</td>
            <td class="date">{{ reply.date }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <a href="{% url 'board:list' %}">목록</a>
</body>

</html>