table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px 0px;
}

.board-number-th {
    width: 100px;
}

.board-title-th {
    width: 500px;
}

.user-nm-th, .user-nm-td, .board-date-th, .reply-date-td, .reply-btn-td {
    width: 200px;
}

.board-content-td {
    width: 1000px;
    height: 300px;
    vertical-align: top;
}

.reply-content-td {
    width: 600px;
}

.user-nm-td, .reply-date-td, .reply-write-td, .reply-btn-td {
    text-align: center;
}

.reply-write-td>textarea {
    width: 800px;
    height: 50px;
    resize: none;
}