.user-nm-td,
.reply-date-td {
    width: 200px;
}

.board-content-td {
    width: 1000px;
    height: 400px;
    text-align: left;
    vertical-align: top;
}

.reply-content-td {
    width: 600px;
    text-align: left;
}

.reply-write-td {
    width: 1000px;
    padding: 0;
    text-align: left;
}

pre {
    margin: 0px 5px;
    font-size: 16px;
    font-family: "맑은 고딕";
}

textarea {
    width: 96%;
    height: 100%;
    resize: none;
    vertical-align: top;
}