table {
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    border: .1px solid black;
    padding: 10px 0px;
    text-align: center;
}

.board-number-th {
    width: 100px;
}

.board-title-th {
    width: 500px;
}

.user-nm-th,
.board-date-th {
    width: 200px;
}

#write-btn {
    width: 24px;
    height: 24px;
    padding-top: 4px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    text-align: right;
}