{% extends 'common/base.html' %}

{% block title %}게시글 목록{% endblock title %}

{% block script %}
{% load static %}
<script src="{% static 'board/board_list.js' %}"></script>
{% endblock script %}

{% block content %}
<div class="h1">게시글 목록</div>

<!-- 게시글 목록 -->
<table class="table table-striped table-hover text-center">
    <thead class="table-dark">
        <tr>
            <th class="col-1">번호</th>
            <th class="col-6">제목</th>
            <th class="col-2">작성자</th>
            <th class="col-3">작성일</th>
        </tr>
    </thead>
    <tbody>
        {% if board_list %}
        {% for board in board_list %}
        <tr>
            <td>{{ board.number }}</td>
            <td>
                <a href="{% url 'board:detail' pk=board.number %}">{{ board.title }}</a>
                {% if board.reply_set.count %}<span class="text-danger">[{{ board.reply_set.count }}]</span>{% endif %}
            </td>
            <td>{{ board.user.username }}</td>
            <td>{{ board.date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">게시글이 없습니다.</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<!-- 검색창 -->
<div class="row">
    <div class="col-8">
        <a href="{% url 'board:create' %}" class="btn btn-success">게시글 작성</a>
    </div>
    <div class="col-4">
        <form id="form_search" class="mb-3">
            {% csrf_token %}
            <div class="input-group">
                <input type="hidden" id="page" name="page" value="{{ page }}">
                <select class="form-select" name="search_type">
                    <option value="">-</option>
                    {% if search_type == 'title' %}
                    <option value="title" selected>제목</option>
                    {% else %}
                    <option value="title">제목</option>
                    {% endif %}
                    {% if search_type == 'content' %}
                    <option value="content" selected>내용</option>
                    {% else %}
                    <option value="content">내용</option>
                    {% endif %}
                    {% if search_type == 'username' %}
                    <option value="username" selected>작성자</option>
                    {% else %}
                    <option value="username">작성자</option>
                    {% endif %}
                </select>
                <input type="text" id="search_word" class="form-control" name="search_word" value="{{ search_word|default_if_none:'' }}" placeholder="검색어">
                <input type="button" id="btn_search" class="btn btn-dark" value="검색">
            </div>
        </form>
    </div>
</div>

{% comment %}
<h1>Page 객체</h1>
<ul>
    <li>
        <h2>메소드</h2>
        <ul>
            <li>page_obj: Page 객체. {{ page_obj }}</li>
            <li>page_obj.has_next(): 다음 페이지가 있으면 True. 없으면 오류 발생. {{ page_obj.has_next }}</li>
            <li>page_obj.has_previous(): 이전 페이지가 있으면 True. {{ page_obj.has_previous }}</li>
            <li>page_obj.has_other_pages(): 이전 혹은 다음 페이지가 있으면 True. {{ page_obj.has_other_pages }}</li>
            <li>page_obj.next_page_number(): 다음 페이지 번호. {{ page_obj.next_page_number }}</li>
            <li>page_obj.previous_page_number(): 이전 페이지 번호. {{ page_obj.previoust_page_number }}</li>
            <li>page_obj.start_index(): 이 페이지의 첫 번째 객체의 인덱스. {{ page_obj.start_index }}</li>
            <li>page_obj.end_index(): 이 페이지의 마지막 객체의 인덱스. {{ page_obj.end_index }}</li>
        </ul>
    </li>
    <li>
        <h2>속성</h2>
        <ul>
            <li>page_obj.object_list: 이 페이지의 객체 목록. {{ page_obj.object_list }}</li>
            <li>page_obj.number: 이 페이지의 번호. {{ page_obj.number }}</li>
            <li>page_obj.paginator: 관련 Paginator 객체. {{ page_obj.paginator }}</li>
        </ul>
    </li>
    <li>
        <h2>Paginator 객체</h2>
        {% with page_obj.paginator as paginator %}
        <ul>
            <li>paginator.object_list: 전체 페이지의 모든 객체 목록. {{ paginator.object_list }}</li>
            <li>paginator.per_page: 이 페이지의 최대 항목 수. {{ paginator.per_page }}</li>
            <li>paginator.count: 전체 페이지의 모든 객체 수. {{ paginator.count }}</li>
            <li>paginator.num_pages: 총 페이지 수. {{ paginator.num_pages }}</li>
            <li>paginator.page_range: 전체 페이지 range 객체. {{ paginator.page_range }}</li>
        </ul>
        {% endwith %}
    </li>
</ul>
{% endcomment %}

<!-- 페이징 처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전 페이지 -->
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="javascript:void(0)" data-page="1">&lt;&lt;</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)" data-page="{{ page_obj.previous_page_number }}">&lt;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">&lt;&lt;</a></li>
    <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">&lt;</a></li>
    {% endif %}
    <!-- 페이지 목록 -->
    {% for page_number in page_obj.paginator.page_range %}
    {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
    {% if page_number == page_obj.number %}
    <li class="page-item active"><a class="page-link" href="javascript:void(0)" data-page="{{ page_number }}">{{ page_number }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="javascript:void(0)" data-page="{{ page_number }}">{{ page_number }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음 페이지 -->
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="javascript:void(0)" data-page="{{ page_obj.next_page_number }}">&gt;</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)" data-page="{{ page_obj.paginator.num_pages }}">&gt;&gt;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">&gt;</a></li>
    <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">&gt;&gt;</a></li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->
{% endblock content %}