{% extends 'common/base.html' %}

{% block title %}게시글 목록{% endblock title %}

{% block content %}
<div class="h1">게시글 목록</div>
<table class="table table-striped table-hover text-center">
    <thead class="table-dark">
        <tr>
            <th class="col-1">번호</th>
            <th class="col-6">제목</th>
            <th class="col-2">작성자</th>
            <th class="col-3">작성일</th>
        </tr>
    </thead>
    <tbody>
        {% if board_list %}
        {% for board in board_list %}
        <tr>
            <td>{{ board.number }}</td>
            <td>
                <a href="{% url 'board:detail' pk=board.number %}">{{ board.title }}</a>
                {% if board.reply_set.count %}
                <span class="text-danger">[{{ board.reply_set.count }}]</span>
                {% endif %}
            </td>
            <td>{{ board.user.username }}</td>
            <td>{{ board.date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">게시글이 없습니다.</td>
        </tr>
        {% endif %}
    </tbody>
</table>
<a href="{% url 'board:create' %}">게시글 작성</a>
{% endblock content %}